# This is a basic workflow to help you get started with Actions
# Ref: https://stackoverflow.com/a/69465861/3016570

name: Get RSS To JSON

# Controls when the workflow will run
on:
  schedule:
  - cron: "0 2,14 * * *"
# Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      # Use hashes for extra security - https://stackoverflow.com/a/70196496/3016570
      - name: Checkout Repository
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      
      - name: Run specific commands # Another step name
        run: |
          ls -lha
          echo "This is a shell command"
          python -m pip install pip==21.0.1
      
      - name: Install dependencies
        run: |
          pip install feedparser
          
      - name: Execute Python script # Run the app.py
        run: python main.py
        timeout-minutes: 20
      
      - name: Push Changes Back To Repo
        uses: GuillaumeFalourd/git-commit-push@0363e474c79afd69c7e295d331183c0c1d824619
